body
{
   background: #483C32;
   line-height: 1.5em;
}
acronym
{
   text-decoration:none;
   border:0;
   cursor:help;
}
.caption
{
   margin-top: 8px;
   text-align: center;
}
#header, #nav, #container
{
   padding: 20px;
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   font-family: sans-serif;
}
#header
{
   background: #483C32 url("pics/logod.png") no-repeat center;
   height: 100px;
}
#nav
{
   background: #5e544b;
   color: white;
   text-align: center;
}
#nav a
{
   color: white;
   text-decoration:none;
}
#nav a:hover
{
   color:#FFFF31;
}
#container
{
   background: white;
   width: 800px;
   margin-left: auto;
   margin-right: auto;
   /*text-align:justify;*/
}
.centerimage
{
   display:block;
   margin-left:auto;
   margin-right:auto;
}
table
{
   border:0;
   margin-left: auto;
   margin-right: auto;
   line-height: 1em;
}
td {
   border: 2px solid #fff;
   padding: 10px;
   background: #5e544b;
   color: #fff;
   vertical-align: top;

}
h1
{
   display: inline;
}
img
{
   border:none;
}
