body
{
   background: #483C32;
}
#header, #nav, #container
{
   padding: 20px;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
}
#header
{
   background: #483C32 url("pics/logoc.png") no-repeat center;
   height: 100px;
}
#nav
{
   background: #5e544b;
   color: white;
   text-align: center;
}
#nav a
{
   color: white;
   text-decoration:none;
}
#nav a:hover
{
   color:#FFFF31;
}
#container
{
   background: white;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   text-align:justify;
}
table
{
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto;
}
table, td {
   border: 1px solid #999;
}
td {
   padding: 5px;
}
h1
{
   display: inline;
}
img
{
   border:none;
}
pre
{
   border: 1px dashed #777;
   background: #FFFACD;
   padding: 5px;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}
